<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="quantrong" class="form-label bor_solid"><span>(*)</span> là bắt buộc</label>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Tên khóa học <span>(*)</span></label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên khóa học ...">
        </div>
        <div class="mb-3">
            <label for="thumbnail" class="form-label">Hình ảnh <span>(*)</span></label>
            <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="Hình ảnh ...">
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Video ID <span>(*)</span></label>
            <input type="text" class="form-control" id="videoId" name="videoId" placeholder="Video ...">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>